* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

span {
  display: block;
}

.p5Canvas,
.info {
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

#defaultCanvas0 {
  padding: 0;
  display: block;
  margin-top: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  border: 2px solid grey;
  padding: 2rem;
  background-color: #ccc;
  color: grey;
  font-weight: 800;
  text-transform: uppercase;
  align-self: flex-end;
  font-size: 1.5rem;
}

.output-title {
  margin-bottom: .5rem;
}

.output {
  text-align: center;
  color: rgb(255, 204, 0);
}
